.pagination > .active > a {
    color: black;
    background-color: #37517e !Important;
    border: solid 1px #37517e !Important;
}

.pagination > .page-item > a {
    color: #37517e;
}

a {
  font-weight: bold;
  color: #37517e;
}

.dropdown-item:active{
  background-color: #37517e;
  color: white;
}

.hidden-menu{
  display: none;
}

.select2-selection__choice{
  background-color: #37517e !important;
  border-color: #37517e !important;
}

.nav-link.active{
  background-color: #37517e !important;
  color: white !important;
}

.navbar-primary{
  background-color: #37517e !important;
}

.table{
  width: 99%;
}